.pixel-block {
  // --pixel-unit: 3px;
  position: relative;
  padding: calc(var(--pixel-size) * 2);

  &.right-compact {

    .border.top,
    .border.bottom {
      right: 0;
    }

    .border.right {
      top: 0;
      bottom: 0;
    }

    .pixel.tr,
    .pixel.br {
      display: none;
    }
  }

  &.left-compact {

    .border.top,
    .border.bottom {
      left: 0;
    }

    .border.left {
      top: 0;
      bottom: 0;
    }

    .pixel.tl,
    .pixel.bl {
      display: none;
    }
  }

  // &.hover {
  //   &:hover {
  //     .bg {
  //       background: rgba(255, 255, 255, 0.08);
  //     }
  //   }
  // }

  .border {
    position: absolute;
    z-index: 2;
    // background-color: var(--pixel-border-color);

    &.left,
    &.right {
      width: var(--pixel-size);
      top: calc(var(--pixel-size) * 2);
      bottom: calc(var(--pixel-size) * 2);
    }

    &.top,
    &.bottom {
      height: var(--pixel-size);
      left: calc(var(--pixel-size) * 2);
      right: calc(var(--pixel-size) * 2);
    }

    &.left {
      left: 0
    }

    &.right {
      right: 0
    }

    &.top {
      top: 0
    }

    &.bottom {
      bottom: 0
    }
  }

  .pixel {
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    z-index: 2;
    // background-color: var(--pixel-border-color);

    &.tl {
      top: var(--pixel-size);
      left: var(--pixel-size);
    }

    &.tr {
      top: var(--pixel-size);
      right: var(--pixel-size);
    }

    &.bl {
      bottom: var(--pixel-size);
      left: var(--pixel-size);
    }

    &.br {
      bottom: var(--pixel-size);
      right: var(--pixel-size);
    }
  }

  .bg {
    position: absolute;
    z-index: 1;
    left: var(--pixel-size);
    top: var(--pixel-size);
    bottom: var(--pixel-size);
    right: var(--pixel-size);
  }

  .content {
    position: relative;
    z-index: 3;
  }
}