@use '@/styles/variables.module';

.dateContainer{
  :global(.rdp-root) {
    --rdp-accent-color: var(--color-primary);
    --rdp-accent-background-color: var(--color-primary); 
  }
}

.chartDetailTitleBtn{
  width: 180px;
  height: 32px;
  &:hover{
    path{
      fill: var(--color-primary);
    }
    .chartDesc{
      color: var(--color-primary);
    }
    i{
      background: var(--color-primary);
    }
  }
}
.list {
  cursor: default;

  table {
    background: #fff;
    font-family: var(--font-hash);
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    th {
      line-height: 2;
    }

    th,
    td {
      padding: 0 20px;
      line-height: 2;

      @media (width <= 480px) {
        padding: 0 4px;
        font-size: 12px;
        line-height: 1.5;
      }
    }

    th:nth-child(1),
    td:nth-child(1) {
      // width: 300px;
    }

    @variant dark {
      background: transparent;
    }

  }

}


.address {
  a > div {
    font-family: var(--font-hash) !important;
  }

  &:hover{
    color: var(--color-primary) !important;
  }
}

.minerCardGroupSty{
  div{
    background: transparent;
  }
}

.overviewCell{
  padding: 32px;
  border-radius: 4px;
  display: grid;
  gap: 0; 
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background: #fff;

  @variant dark {
    background: #363839;
  }

  .cellborder {
    border-left: 1px solid #d9d9d9;
    padding-left: 36px;
    padding-right: 36px;
  }

  .title{
    color: #666666;
    margin-bottom: 12px;
    @variant dark {
      color: #999999;
    }
  }

  @media (width <= variables.$extraLargeBreakPoint) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    .cellborder{
      border-left: none;
      padding: 0;
    }
  }

  @media (width <= variables.$mobileBreakPoint) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
    .cellborder{
      border-left: none;
      padding: 0;
    }
  }
}
