/* stylelint-disable selector-class-pattern */
@use '@/styles/variables.module';

.chartsContent {
  margin-top: 20px;
  margin-bottom: 30px;
  // @media (max-width: variables.$mobileBreakPoint) {
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  // }

  @variant dark {
    background: #232323E5;
    border: 2px solid #282B2C;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(50px);
  }
}


.tabsTriggerStyle {
  color: #999999 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  &[data-state='active'] {
    color: #232323 !important;
  }
  html[data-theme='dark'] &[data-state='active'] {
    color: #fff !important;
  }
}

.chartsPanel {
  margin: 20px 0;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 12%);

  @media (max-width: variables.$mobileBreakPoint) {
    padding: 20px 10px;
  }

  :global(.chartsCategoryTitle) {
    font-size: 20px;
    font-weight: 500;
    color: #232323;
    margin-left: 10px;
  }

  :global(.chartsCategoryPanel) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 3px;
  }
}

.chartCardPanel {
  // width: 362px;
  flex: 1;
  height: 270px;
  background: white;
  // margin-top: 20px;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  padding: 12px 20px;

  @variant dark {
    background: #232323E5;
    border: 1px solid #4C4C4C;
  }

  @media (max-width: variables.$mobileBreakPoint) {
    width: 100%;
  }

  :global(.echarts-for-react) {
    canvas {
      cursor: pointer;
    }
  }

  :global(.chartCardTitlePenal) {
    display: flex;
    align-items: center;
    color:#232323;

    > img {
      width: 16px;
      height: 16px;
      margin-left: 10px;
    }

    @variant dark {
      color:#fff;
    }
  }

  :global(.chartCardTitle) {
    height: 40px;
    line-height: 40px;
    color: #232323;
    font-size: 14px;
    font-weight: 500;

    @variant dark {
      color:#fff;
    }
  }

  :global(.chartCardBody) {
    background: #FBFBFB;
    border-radius: 4px;

    @variant dark {
      background:#363839;
    }
  }
}



.txHeaderLabels {
  height: 80px;
  display: flex;
  align-items: stretch;

  @media (width <= variables.$mobileBreakPoint) {
    height: 50px;
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;

    &[data-is-active='true'] {
      font-weight: 500;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}