@use '@/styles/variables.module';

.tabContainer{
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px #0000001A;
  padding: 24px;
  margin-bottom: 20px;

  @media (max-width: variables.$mobileBreakPoint) {
    padding: 12px;
  }

  @variant dark {
    background: #232323E5;
    border: 2px solid #282B2C;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(50px);
  }
  
  .tabHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .tabsTriggerStyle {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #484D4E !important;

    &[data-state='active'] {
      color: #232323 !important;
    }

    @variant dark {
      color: #999999 !important;
      &[data-state='active'] {
        color: #fff !important;
      }
    }
  }

  .txHeaderLabels{
    display: flex;
    gap: 12px;
  }
}

.daoTabBarPanel {
  width: 100%;
  background: white;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 6px 0 #dfdfdf;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 6px 6px 0 0;

  @media (max-width: variables.$extraLargeBreakPoint) {
    font-size: 16px;
  }

  @media (max-width: variables.$mobileBreakPoint) {
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    align-items: stretch;

    > div {
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
    }
  }

  :global(.nervosDaoTabBar) {
    display: flex;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;

    @media (max-width: variables.$mobileBreakPoint) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      margin-right: 0;
    }

    :global(.div) {
      font-size: 20px;

      @media (max-width: variables.$mobileBreakPoint) {
        font-size: 13px;
      }
    }

    div:nth-child(2) {
      margin-left: 50px;

      @media (max-width: variables.$extraLargeBreakPoint) {
        margin-left: 30px;
      }
    }

    :global(.tabBarNormal) {
      width: 140px;
      text-align: center;
      color: #000;
      font-weight: normal;
      font-size: 18px;

      @media (max-width: variables.$extraLargeBreakPoint) {
        width: 110px;
      }
    }

    :global(.tabBarSelected) {
      width: 140px;
      text-align: center;
      font-size: 18px;
      color: #000;
      font-weight: bold;
      border-bottom: 3px solid var(--primary-color);

      @media (max-width: variables.$extraLargeBreakPoint) {
        width: 110px;
      }
    }
  }
}
