.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  // margin-top: 120px;
  // margin-bottom: 140px;
  min-height: calc(100vh - 64px);

  .img {
    max-width: 50vw;
  }
}
