.banner {
  width: 100%;
  height: 320px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./bg.png') no-repeat center, black;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  h3 {
    background: linear-gradient(98deg, #18EFB1 1.8%, #00CC9B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}