.cell-card {
  border: 2px solid transparent;
  &:not(:has(.block-number:hover)):hover {
    border: 2px solid var(--color-primary);
    box-shadow: 0px 2px 12px 0px rgb(from var(--color-primary) r g b / 30%);
  }
}

.block-number {
  &:hover {
    text-decoration: underline;
    .icon {
      border-color: currentColor;
    }
  }
}
