.container {
  appearance: none;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 4px;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;

  &[data-type='supply-limited'] {
    border-color: #fcdeb0;
    background: #fdf5d7;
    color: #caac0f;
  }

  &[data-type='out-of-length-range'] {
    border-color: #b0cbfc;
    background: #d7e5fd;
    color: #346dff;
  }

  &[data-type='invalid'] {
    border-color: #ccc;
    background: #f0f0f0;
    color: #666;
  }

  &[data-type='duplicate'] {
    border-color: #F7931A;
    background: #F7931A0D;
    color: #F7931A;
  }

  &[data-type='layer-1-asset'] {
    color: var(--btc-color-primary);
    border-color: var(--btc-color-primary);
    background: rgb(from var(--btc-color-primary) r g b / 5%);
  }

  &[data-type='layer-2-asset'] {
    border-color: var(--color-primary);
    background: rgb(from var(--color-primary) r g b / 10%);
    color: var(--color-primary);
  }

  &[data-type='verified-on-platform'] {
    border-color: #99e6ca;
    background: #d7fdf2;
    color: #00bb8e;
  }

  &[data-type='supply-unlimited'] {
    border-color: #b0e1fc;
    background: #d2f7ff;
    color: #00a7cc;
  }

  &[data-type='rgbpp-compatible'],
  &[data-type='rgb++'] {
    border: none;
    background: linear-gradient(280.1deg, #9672FA -6.93%, #4DB5FF 52.87%, #32FFCE 107.19%);
    color: #333;
  }

  &[data-type='suspicious'] {
    background: #ffe8e8;
    border-color: #ff9c9c;
    color: #fa504f;
  }

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.normal {
  border: 1px solid;
}
