@use '@/styles/variables.module';
.chartContent{
  background: #fff;
  box-shadow: 0px 2px 8px 0px #0000001A;
  border-radius: 2px;
  padding: 20px;

  @variant dark {
    background: #232323E5;
    border: 2px solid #282B2C;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(50px);
  }
}

.chartDetailTitleBtn{
  &:hover{
    path{
      fill: var(--color-primary);
    }
    .chartDesc{
      color: var(--color-primary);
    }
    i{
      background: var(--color-primary);
    }
  }
}

.downloadIconSty{
  path{
    fill: #999999;
  }
}

.chartDetailPanel {
  margin-bottom: 30px;
  background: white;
}
.chartDetailTitlePanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  > span {
    color: #232323;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: variables.$mobileBreakPoint) {
      font-size: 14px;
      margin-left: 0;
    }

    @variant dark {
      color: #fff;
    }
  }

  > img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

.chartDetailTitle {
  margin-top: 30px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: variables.$mobileBreakPoint) {
    margin-top: 20px;
  }

  :global(.chartDetailTitlePanel) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    > span {
      color: #000;
      text-align: center;
      font-size: 24px;
      margin-left: 100px;

      @media (max-width: variables.$mobileBreakPoint) {
        font-size: 16px;
        margin-left: 0;
      }

      @variant dark {
        color: #fff;
      }
    }

    > img {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }

  :global(.chartDetailTitleDownload) {
    width: 100px;
    padding: 5px 0;
    border-radius: 2px;
    border: solid 1px #666;
    font-size: 12px;
    text-align: center;
    color: #666;
    margin-right: 3.6%;

    @media (max-width: variables.$mobileBreakPoint) {
      display: none;
    }
  }
}

.loadingPanel {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;

  &.isThumbnail {
    height: 200px;
  }
}

.chartNoDataPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 112px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  border: solid 0.5px var(--color-primary);
  background-color: #fff;

  &.isThumbnail {
    width: 92px;
    height: 56px;
  }

  > img {
    width: 37px;
    height: 28px;

    &.isThumbnail {
      width: 18.5px;
      height: 14px;
    }
  }

  > span {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    color: var(--color-primary);
  }
}

.chartNotePanel {
  font-size: 12px;
  width: 100%;
  color: rgb(0 0 0 / 60%);
  padding: 6px 3%;
  text-align: left;
}
