@use '@/styles/variables.module';

.blockNumber {
  display: flex;
  align-items: center;

  .prev,
  .next {
    display: flex;
    align-items: center;

    // svg {
    //   rect {
    //     fill: var(--color-primary);
    //     opacity: 0.15;
    //   }

    //   path {
    //     stroke: var(--color-primary);
    //   }
    // }

    &:hover {
      svg {
        rect {
          stroke: var(--color-primary);
          opacity: 1;
        }

        path {
          fill: var(--color-primary);
        }
      }
    }

    &[data-disabled='true'] {
      pointer-events: none;

      svg {
        rect {
          stroke: #DDDDDD;
          fill: #0000000D;
        }

        path {
          fill: #999999;
        }
      }
    }

    [data-theme='dark'] & {
      svg {
        rect {
          stroke: transparent;
          fill: #FFFFFF1A;
        }

        path {
          fill: #FFFFFF;
        }
      }

      &:hover {
        svg {
          rect {
            stroke: var(--color-primary);
            opacity: 1;
          }
  
          path {
            fill: var(--color-primary);
          }
        }
      }

      &[data-disabled='true'] {
        pointer-events: none;
        svg {
          rect {
            stroke: transparent;
            fill: #FFFFFF1A;
          }
  
          path {
            fill: #5B5B5B;
          }
        }
      }
    }
  }

  .prev {
    margin-right: 8px;
  }

  .next {
    margin-left: 8px;
    transform: rotate(0.5turn);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= variables.$extraLargeBreakPoint) {
    max-width: 40%;
  }

  @media (width <= variables.$mobileBreakPoint) {
    max-width: 100%;
  }
}

.transactionListOptionsCard {
  margin-top: 24px;

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width <= variables.$mobileBreakPoint) {
      // padding: 16px 0;

      img {
        height: 12px;
        width: 12px;
      }

      input {
        padding-left: 38px;
      }
    }
  }
}

.blockDetailPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (max-width: variables.$mobileBreakPoint) {
    margin: 0;
    padding: 20px;
  }
}

.blockLinkPanel {
  min-width: 0;

  a {
    font-weight: 500;
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-primary);
  }
}

.blockMinerRewardPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;

  &.sent img {
    width: 30px;
    margin: 0 0 3px 5px;
    cursor: pointer;

    @media (max-width: variables.$mobileBreakPoint) {
      width: 27px;
      margin-bottom: 1px;
    }
  }

  :global(.blockMinerRewardTip) {
    display: flex;
    align-items: center;
  }

  img {
    width: 15px;
    margin: 3px 0 0 5px;
    cursor: default;

    @media (max-width: variables.$mobileBreakPoint) {
      width: 15px;
      margin-bottom: 0;
    }
  }
}

.blockMinerMessagePanel {
  display: flex;
  align-items: center;
  min-width: 0;

  :global(.blockMinerMessageUtf8) {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 6px;
  }
}

.blockTransactionsPagination {
  margin-top: 4px;
  width: 100%;
}
.text {
  flex: 1;
  min-width: 0;
}

.blockCard{
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(42, 49, 86, 0.1);
  padding: 24px;
  
  [data-theme='dark'] & {
    background-color: #232323E5;
    border: 2px solid #282B2C;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(50px)
  }

  @media (max-width: variables.$mobileBreakPoint) {
    padding: 12px;
  }
}

.blockInfo {
  border-radius: 16px;
  height: 62px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F9FB;
  padding: 20px;
  margin-top: 16px;

  [data-theme='dark'] & {
    background-color: #303030;
  }
}

.infoIconStyle{
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  [data-theme='dark'] & {
    rect {
      stroke: transparent;
      fill: #FFFFFF1A;
    }

    path {
      fill: #FFFFFF;
    }
  }
  &:hover {
    rect {
      stroke: var(--color-primary);
      opacity: 1;
    }

    path {
      fill: var(--color-primary);
    }
  }
}