@use '@/styles/variables.module';

.tabs {
  margin-bottom: 16px;

  @media (width <= variables.$mobileBreakPoint) {
    margin: 20px 0;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 34px;
    overflow: auto;
    background: #fff;

    [data-theme='dark'] & {
      background: transparent;
    }

    @media (width <= variables.$mobileBreakPoint) {
      padding: 0 16px;
    }

    .tab {
      position: relative;
      line-height: 56px;
      white-space: nowrap;
      font-size: 16px;
      color: #999;

      &.active {
        font-weight: 500;
        color:#232323;
        &::after {
          $width: 64px;

          content: ' ';
          position: absolute;
          width: $width;
          height: 4px;
          left: calc(50% - $width / 2);
          bottom: 0;
          background: var(--color-primary);
        }
        [data-theme='dark'] & {
          color: #FFFFFF;
        }
      }
    }
  }
}

.table {
  .headerRow,
  .row {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #232323;
  }

  .headerRow {
    min-height: 46px;
    font-size: 14px;
  }

  .row {
    min-height: 63px;
    border-bottom: 1px solid #e5e5e5;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    flex: 1;
    min-width: 0;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    color: var(--color-primary);
  }
}

.transactionCardHeader {
  background: white;
  display: flex;
  border-radius: 0 0 6px 6px;
  padding: 5px 20px;
  margin-top: 1px;
  margin-bottom: 10px;
  flex-flow: row wrap;

  @media (width <= variables.$mobileBreakPoint) {
    flex-direction: column;
    gap:6px;
  }
}

.transactionCardGroup {
  margin-top: 10px;
}

.transactionCard {
  .addressLink {
    font-size: 13px;
  }
}

.transactionTable {
  margin-top: 16px;
  // padding: 0 40px;
  background: #fff;
  // box-shadow: 0 4px 4px rgb(16 16 16 / 5%);

  .colHash {
    font-size: 14px;
  }
}

.sortIcon {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  margin-left: 8px;
  cursor: pointer;

  &[data-order='asc'] {
    svg > path:last-child {
      fill: var(--color-primary);
    }
  }

  &[data-order='desc'] {
    svg > path:first-child {
      fill: var(--color-primary);
    }
  }
}

.pagination {
  margin-top: 4px;
}

.transactionPanel{
  padding: 12px 20px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px #0000001A;
  min-height: 400px;

  @variant dark {
    background: #232323E5;
    border:1px solid #282B2C;
    box-shadow: 0px 4px 4px 0px #00000040;
    backdrop-filter: blur(50px)
  }
  @media (min-width: variables.$mobileBreakPoint) {
    margin-top: 25px;
    margin-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;

  }

  @media (max-width: variables.$mobileBreakPoint) {
    margin-top: 0;
    .blockGreenBackground {
      margin-left: -20px;
      height: 61px;
      width: calc(100% + 40px);
      z-index: 1;
    }
  }
}


.loadingSection {
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  background: #fff;
}