// @use '@/styles/variables.module';

.searchInputPanel {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  // padding: 0 8px;
  background: transparent;
  color: #333;
  border: 0 solid transparent;
  border-radius: 4px;

  // font-size: 12px;
  padding-inline: 6px 16px;

  @media (width >=48rem) {
    padding-inline: 8px;
    // font-size: 14px;
  }

  &:focus {
    color: #333;
    outline: none;

    @variant dark {
      color: #fff;
    }
  }

  @variant dark {
    color: #fff;
  }

  &::placeholder {
    color: #ccc;

    @variant dark {
      color: #5b5b5b;
    }
  }

  

  // @media (max-width: variables.$mobileBreakPoint) {
  //   font-size: 12px;
  //   padding-left: 6px;
  //   padding-right: 16px;
  // }
}