@use '@/styles/variables.module';

.tableTitleRow{
  display: flex;
  flex-direction: row;
  // align-items: center;
  font-size: 1rem; 
  padding: 0 12px;
  background: #F5F9FB;
  color:#232323;
  height: 46px;

  @media (max-width: variables.$mobileBreakPoint) {
    flex-direction: column;
    font-size: 0.875rem;
    padding: 0 16px;
  }

  @variant dark {
    background-color: #363839;
    color: #fff;
  }
}

.tableTitleRowItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 65px;

  > div,
  > button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    font-size: 18px;
    font-weight: 450;
    text-align: center;

    @media (max-width: variables.$largeBreakPoint) {
      font-size: 16px;
    }
  }

  @media (max-width: variables.$mobileBreakPoint) {
    margin: 10px 40px 10px 0;
    min-height: auto;
  }
}

.tableContentRow {
  position: relative;
  display: flex;
  min-height: 60px;
  padding: 12px;

  // ::after {
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   width: auto;
  //   height: 1px;
  //   left: 20px;
  //   right: 20px;
  //   bottom: 1px;
  //   background: #d8d8d8;
  //   // transform: scaleY(0.5);
  // }

  // :hover {
  //   background: #f8f9fa;
  // }
}

.tableContentRowItem {
  color: #000;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-overflow: ellipsis;
  font-size: 16px;

  a {
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-primary);
  }
}

.tableMinerContentPanel {
  min-width: 0;
  line-height: 20px;
  text-align: center;
  margin: auto 0;

  .tableMinerContent {
    color: var(--color-primary);
    text-decoration: none;
  }

  .tableMinerText {
    width: 100%;
    justify-content: center;
    font-weight: 500;
    &:hover {
      color: var(--color-primary);
    }

    @media (max-width: variables.$mobileBreakPoint) {
      font-size: 13px;
    }
  }

  .tableMinerTextDisable {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    @media (max-width: variables.$mobileBreakPoint) {
      font-size: 13px;
    }
  }
}

.highlightLink {
  color: var(--color-primary);
  text-decoration: none;
}
