.bracket {
  $unitSize: 4px;
  width: $unitSize * 2;
  position: relative;
  align-self: stretch;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $unitSize;
    height: $unitSize;
    background-color: var(--color-primary);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  >i {
    position: absolute;
    top: $unitSize;
    bottom: $unitSize;
    width: $unitSize;
    background-color: var(--color-primary);
  }

  &.left {
    transform: translateX(-10px);
    &::before,
    &::after {
      right: 0;
    }

    >i {
      left: 0;
    }
  }

  &.right {
    transform: translateX(10px);
    &::before,
    &::after {
      left: 0;
    }

    >i {
      right: 0;
    }
  }
}



.icon {
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;

  &.active {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
}

.menuItem {
  width: auto;
  min-width: 100px;
  height: 22px;
  line-height: 22px;
  // background-color: rgba(#f00, 0.1);
  &.active,
  &:hover {
    .bracket {
      transition-delay: 0.2s;

      opacity: 1;
      transform: translate(0);
    }
    .icon {
      opacity: 1;
      width: 20px;
      height: 20px;
    }

  }
}

.menuItemWrapper{
  height: 22px;
  button {
    outline: none;
    border: none;
  }
}

.submenu {
  position: absolute;
  top: calc(100% + 13px);
  left: -80px;
  z-index: 1000;
  min-width: 160px;
  background: white;
  color:#232323;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 2px 8px 0px #0000001A;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap:4px;
}

.submenuItem {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  &:hover {
    background: #EDF2F2;
    color: var(--color-primary);
  }
}