.content {
  background-color: #000000E5;
  border-radius: 4px;
  padding: 8px;
  min-width: 30px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 320px;
  position: relative;
  line-height: 20px;

  [data-theme='dark'] & {
    background-color: #232323E5;
    // color: #232323;
  }

}

.arrow {
  fill: #000000E5;
  @variant dark {
    fill: #F5F9FB;
  }
}

.popover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 10px 0 #eee;
  @variant dark {
    background-color: rgba(#232323, 0.9) !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10)  !important;
  }
}

.popoverArrow {
  fill: #fff;
  @variant dark {
    background-color: rgba(#232323, 0.9);
  }
}
