

.tx-cell-card {
  // box-sizing: border-box;
  border: 1px solid #eee;
  padding: 11px;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;

  @variant dark {
    background-color: #363839;
    border-color: #4c4c4c;
  }

  &:not(:has(.address:hover)):hover {
    border: 3px solid var(--color-primary);
    padding: 9px;
    box-shadow: 0px 2px 12px 0px rgb(from var(--color-primary) r g b / 30%);
  }
}
