

.tx-cell-card {
  // box-sizing: border-box;
  border: 0px solid #eee;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  cursor: pointer;

  @variant dark {
    background-color: #363839;
    border-color: #4c4c4c;
  }

  &:not(:has([data-clickable=true]:hover)):hover {
    border: 3px solid var(--color-primary);
    padding: 17px;
    box-shadow: 0px 2px 12px 0px rgb(from var(--color-primary) r g b / 30%);
  }
}


.since-tooltip {
  --tooltip-background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}