@use '@/styles/variables.module';

.container {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 450;
  line-height: 1.2;
  text-align: center;
  // padding: 1rem;
  padding-inline: 14px;
  padding-block: 9px;
  background: #FF9C32;
  backdrop-filter: blur(30px);
  z-index: 9;

  @media (width <=variables.$mobileBreakPoint) {
    justify-content: flex-start;
    text-align: left;
  }

  .clickable {
    color: var(--color-primary);
    cursor: pointer;
  }
}