@use '@/styles/variables.module';

.list {
  cursor: default;

  table {
    background: #fff;
    font-family: var(--font-hash);
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    th {
      line-height: 2;
    }

    th,
    td {
      padding: 0 20px;
      line-height: 2;

      @media (width <= 480px) {
        padding: 0 4px;
        font-size: 12px;
        line-height: 1.5;
      }
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding: 0 70px 0 50px;
      
      @media (width <= 480px) {
        padding: 0 4px; // 在小屏幕上保持原有的响应式样式
      }
    }

    @variant dark {
      background: transparent;
    }

    // th:first-child,
    // td:first-child {
    //   text-align: left;
    // }

    // th:last-child,
    // td:last-child {
    //   text-align: right;
    // }
  }

  // @media (width <= variables.$xxlBreakPoint) {
  //   padding: 0 100px;
  // }

  // @media (width <= variables.$extraLargeBreakPoint) {
  //   padding: 0 45px;
  // }

  // @media (width <= variables.$mobileBreakPoint) {
  //   padding: 0 18px;
  // }
}

.address {
  // max-width: 200px;

  a > div {
    font-family: var(--font-hash) !important;
  }

  &:hover{
    color: var(--color-primary) !important;
  }
}

.roundSign {
  color: #999;
  padding-right: 4px;

  @media (width <= 480px) {
    padding-right: 2px;
  }
}
