name: Auto merge To Deployments

on: push

permissions:
  pull-requests: write

jobs:
  merge-main-into-testnet:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Merge main into testnet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: repo-sync/pull-request@v2
        with:
          source_branch: 'main'
          destination_branch: 'deploy-testnet'
          pr_title: 'Merge main into deploy-testnet'
          pr_reviewer: 'walker27'
          pr_label: 'auto-pr'
          github_token: ${{ secrets.GITHUB_TOKEN }}

  merge-main-into-mainnet:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Merge testnet into mainnet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: repo-sync/pull-request@v2
        with:
          source_branch: 'main'
          destination_branch: 'deploy-mainnet'
          pr_title: 'Merge main into deploy-mainnet'
          pr_reviewer: 'walker27'
          pr_label: 'auto-pr'
          github_token: ${{ secrets.GITHUB_TOKEN }}

  merge-main-back-to-develop:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Merge main back to develop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: repo-sync/pull-request@v2
        with:
          source_branch: 'main'
          destination_branch: 'develop'
          pr_title: 'Merge main into develop'
          pr_reviewer: 'walker27'
          pr_label: 'auto-pr'
          github_token: ${{ secrets.GITHUB_TOKEN }}
